body{
    text-align: center;
    background-color: rgb(50, 50, 50);
}

#play{
    width: 0px;
    height: 0px;
    transform:rotate(360deg);
    background-color: rgb(50, 50, 50);
    border-style: solid;
    border-width: 50px 0 50px 86.6px;
    border-color: transparent transparent transparent #c59afa;
    bottom: 3rem;
    position: absolute;
}
#play:hover{
    border-color: transparent transparent transparent #9742ff;
}